<h3>Recent Activity</h3>
        <hr>
        {% for msg in room_messages %}
            <div>
                <small><a href="{% url 'profile' msg.user.id %}">@{{msg.user}} </a> {{msg.created|timesince}}</small>
                <small>replied to post "{{msg.room}}"</small>

                <p>{{msg.body}}</p>
                {% if request.user == msg.user %}
                    
                <a href="{% url 'delete-message' msg.id %}">Delete</a>
                {% endif %}
            </div>
            <hr>
        {% endfor %}