{% extends 'main.html' %}

{% block content %}

<style>
    .home-container{
        display: grid;
        grid-template-columns: 1fr 3fr;
    }
</style>

<div class="home-container">

    <div>
        <h3>Browse Topics</h3>
        <hr>
        <div>
            <a href="{% url 'home' %}">All</a>
        </div>
        {% for topic in topics %}
            <div>
                <a href="{% url 'home' %}?q={{topic.name}}">{{topic.name}}</a>
            </div>
        {% endfor %}
    </div>

    <div>
        <div>
            <h5>Rooms Available : {{room_count}}</h5>
            <a href={% url 'create-room' %}>
                <h3>Create Room</h3>
            </a>

            <div>
                {% for room in rooms%}
                <div>
                    <span>Host : @{{room.host.username}}</span>
                    <h5>Room Name : -- <a href="/room/{{room.id}}">{{room.name}}</a></h5>
                    <small>Topic : {{room.topic}}</small>
                    <br>
                    <a href="{% url 'update-room' room.id %}">Edit Room</a>
                    <a href="{% url 'delete-room' room.id %}">Delete Room</a>
                    <hr>
                </div>

                {% endfor %}
            </div>
        </div>

    </div>

</div>

{% endblock %}